<!DOCTYPE html>
<html>    
    <head>
        <%- include('commons/head') %>
        <link rel="stylesheet" href="../styles/personal-area.css">
    </head>
    <body>
        <%- include('commons/navbar') %>
        <main>
            <div class="row justify-content-center">
                <h1 id="electionName">Election <%- responseData.data.electionId %></h1>
            </div>
            <div class="row" id="content">
                <div class="col-md-5 center mx-auto">
                    <h2 id="question">Goal: <%- responseData.data.goal %></h2>
                    <div class="container mt-5">
                        <div class="row">
                            <!-- First Column -->
                            <div class="col-md-6">
                                <h2>Request code</h2>
                                <form id="voteCodeForm">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="uid">User id</span>
                                        </div>
                                        <input type="text" class="form-control" name="user-id" id="voteCodeForm-id" placeholder="userid">
                                    </div>
                                    <input type="hidden" name="election-id" value="<%- responseData.data.electionId %>" />
                                    <button type="submit" class="btn btn-primary">Request Code</button>
                                </form>
                            </div>

                            <!-- Second Column -->
                            <div class="col-md-6">
                                <h2>Vote form</h2>
                                <form id="voteForm" action="" method="post">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">One time code</span>
                                        </div>
                                        <input type="text" class="form-control" name="otc" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">User id</span>
                                        </div>
                                        <input type="text" class="form-control" name="user-id" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                    </div>
                                    <% responseData.data.choices.forEach(function(entry) { %>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="choiceRadio" id="<%= entry.choice %>-id" value="<%= entry.choice %>" />
                                            <label class="form-check-label" for="choiceRadio"><%= entry.choice %></label>
                                        </div>
                                    <% }) %>
                                    <button type="submit" class="btn btn-outline-primary btn-block">Send your vote</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('commons/footer') %>
        <script>
            function requestCode() {
                const userId = $('#voteCodeForm input[name="user-id"]').val();
                const electionId = $('#voteCodeForm input[name="election-id"]').val();

                if (!userId) {
                    alert('Please provide your email for requesting the code');
                    return;
                }

                const data = {
                    userId: userId,
                    electionId: electionId,
                };

                $.ajax({
                    type: "POST",
                    url: 'http://localhost:3000/elections/code',
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8"
                }).done(function(response) {
                    if(response.success) {
                        $('#voteForm input[name="otc"]').val(response.code);
                        $('#voteForm input[name="user-id"]').val(userId);
                    } else {
                        alert(`Error requesting code. ${response.message}`);
                    }
                }).fail(function(error) {
                    console.error('Error submitting vote:', error.message);
                    alert(`Error requesting code. ${error.message}`);
                });
            }

            function sendVote() {
                const electionCode = $('#voteForm input[type="text"]').val();
                const choice = $('#voteForm input[name="choiceRadio"]:checked').val();
                const userId = $('#voteForm input[name="user-id"]').val();

                if (!electionCode || !choice) {
                    alert('Please fill in all fields');
                    return;
                }

                const data = {
                    code: electionCode,
                    choice: choice,
                    userId: userId,
                };

                $.ajax({
                    type: "POST",
                    url: 'http://localhost:3000/elections/vote/<%= responseData.data.electionId %>',
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8"
                }).done(function(response) {
                    if(response.success){
                        $('#voteForm input[type="text"]').val('');
                        $('#voteForm input[name="choiceRadio"]:checked').prop('checked', false);
                        alert(`Vote casted successfully!`);
                    } else {
                        alert(`Error submitting vote`);
                    }
                }).fail(function(error) {
                    console.error('Error submitting vote:', error.responseText);
                    alert('Error submitting vote. Please try again.');
                });
            }

            $(document).ready(function() {
                $('#voteCodeForm').submit(function(event) {
                    event.preventDefault();
                    requestCode();
                });

                $('#voteForm').submit(function(event) {
                    event.preventDefault();
                    sendVote();
                });
            });
        </script>
    </body>
</html>