<!DOCTYPE html>
<html>    
    <head>
        <%- include('commons/head') %>
        <link rel="stylesheet" href="../styles/personal-area.css">
    </head>
    <body>
        <%- include('commons/navbar') %>
        <main>
            <div class="row justify-content-center">
                <h1>Welcome!</h1>
            </div>
            <div class="row" id="content">
                <div class="col-md-12">
                    <div class="alert alert-info" role="alert">
                        Found: <strong><%= electionsData.length %></strong> results
                    </div>
                    <% electionsData.forEach(function(election) { %>
                        <div class="card">
                            <a href="/elections/<%= election.electionId %>">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= election.goal %>
                                        <% if (election.open) { %>
                                            <span class="badge badge-success">Open</span>
                                        <% } else { %>
                                            <span class="badge badge-secondary">Closed</span>
                                        <% } %>
                                    </h5>
                                    <p class="text-muted"><strong>Starting date:</strong> <%= election.formattedStartDate %></p>
                                    <p class="text-muted"><strong>Ending date:</strong> <%= election.formattedEndDate %></p>
                                    <a href="/elections/<%= election.electionId %>" class="card-link">See all infos</a>
                                    <% if (election.open) { %>
                                        <a href="#" class="card-link">Cast a vote</a>
                                    <% } %>
                                </div>
                            </a>
                        </div>
                    <% }) %>
                </div>
            </div>
        </main>
        <%- include('commons/footer') %>
    </body>
</html>