<!DOCTYPE html>
<html>    
    <head>
        <%- include('commons/head') %>
        <link rel="stylesheet" href="../styles/personal-area.css">
    </head>
    <body>
        <%- include('commons/navbar') %>
        <main>
            <div class="row justify-content-center">
                <h1 id="electionName"><%= responseData.data.goal %></h1>
            </div>
            <div class="row" id="content">
                <div class="col-md-5 center mx-auto">
                    <p><strong>Start date: </strong><%= responseData.data.formattedStartDate %></p>
                    <p><strong>End date: </strong><%= responseData.data.formattedEndDate %></p>
                    <p><strong>Choices: </strong></p>
                    <ul>
                        <% responseData.data.choices.forEach(function(entry) { %>
                            <li><%= entry.choice %></li>
                        <% }) %>
                    </ul>
                    <p><strong>Affluence: </strong> <%= responseData.data.affluence %></p>
                    <% if (Object.keys(responseData.data.results).length === 0) { %>
                        <p><strong>This election is still open. Therefore results are not available, yet.</strong></p>
                    <% } else { %>
                        <p><strong>Results: </strong></p>
                        <table>
                            <tr>
                            <th>Option</th>
                            <th>N° votes</th>
                            </tr>
                            <% Object.entries(responseData.data.results).forEach(([option, count]) => { %>
                            <tr>
                                <td><%= option %></td>
                                <td><%= count %></td>
                            </tr>
                            <% }); %>
                        </table>
                    <% } %>
                </div>
            </div>
        </main>
        <%- include('commons/footer') %>
    </body>
</html>