<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign in</title>
        <%- include('commons/head') %>
        <link rel="stylesheet" href="../styles/sign.css">
        <link rel="stylesheet" href="../styles/user-area.css">
    </head>
    <body>
        <%- include('commons/navbar') %>
        <main>
            <div class="row">
                <div class="col-md-6 center mx-auto">
                    <div class="profile-container">
                        <h2 class="text-center mb-4">My profile</h2>
                        <div class="profile-field">
                            <label for="email">Email:</label>
                            <input type="text" id="email" class="form-control" value="<%= responseData.data.data.email %>" readonly>
                        </div>
                        <div class="profile-field">
                            <label for="firstName">First Name:</label>
                            <input type="text" id="firstName" class="form-control" value="<%= responseData.data.data.firstName %>" readonly>
                        </div>
                        <div class="profile-field">
                            <label for="lastName">Last Name:</label>
                            <input type="text" id="lastName" class="form-control" value="<%= responseData.data.data.secondName %>" readonly>
                        </div>
                    </div>
                </div>
            </div>            
        </main>
        <%- include('commons/footer') %>
    </body>
</html>